<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fitness_Tracking_Software.Properties.Settings.FitnessDBSConnectionString"
            connectionString="Data Source=LAPTOP-JLI45EE2;Initial Catalog=FitnessDBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>